#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    /* border:1px solid red; */
    /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
    width:186px;
    height:157px;*/
}



#img_container0{
    float:left;
    padding-top: 25px;

}


#img_container1{
    float:right;
    padding-top: 25px;
}